font-family: 'Lato-Light';

font-family: 'Lato-Regular';

font-family: 'Lato-Medium';

font-family: 'Lato-Semibold';

font-family: 'Lato-Bold';

font-family: 'Lato-ExtraBold';

font-family: 'Lato-Black';

font-family: 'Open Sans', sans-serif;



