font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif;

letter-spacing: 0.05em;


background-image: url(../images/firm-saprator.svg);
    background-repeat: no-repeat;
    background-position: 55% 98%;



