/* 1440 */
@media only screen and (max-width: 1600px) and (min-width: 1440px) {
	section.cms-practice .section-header h2:after {
		transform: rotate(-9deg);
		bottom: -12px;
	}
	section.cms-resource .section-header h2:after {
		transform: rotate(-9deg);
		bottom: 25px;
	}
}	

/* 1366 */
@media only screen and (max-width: 1439px) and (min-width: 1281px) {
	section.cms-practice .section-header h2:after {
		bottom: -17px;
	}
	section.cms-resource .section-header h2:after {
		bottom: 22px;
	}

}

/* 1280 */
@media only screen and (max-width: 1280px) and (min-width: 1200px) {
	section.cms-practice .section-header h2:after {
		transform: rotate(-10deg);
		bottom: -21px;
	}
	section.cms-resource .section-header h2:after {
		transform: rotate(-10deg);
		bottom: 17px;
	}
}

/* 1024 */
@media only screen and (max-width: 1199px) {
	header.cms-header .header-social {
		padding-right: 0;
	}
	.header-bottom .navbar-nav li .arrow {
		right: 5px;
	}
	header.cms-header .navbar-nav > li > a {
		font-size: 16px;
		padding: 16px 19px;
	}
	section.google-review .slideshow {
		margin-top: 0;
		float: none;
		max-width: 100%;
	}


	section.cms-practice .section-header h2::after {
		bottom: 0px;
		transform: rotate(-11deg);
	}
	section.cms-practice .practice-box {
		width: 225px;
		height: 225px;
	}


	section.cms-criminal {
		background-size: cover;
		margin: -280px 0 40px;
		padding: 200px 0 100px;
		min-height: auto;
	}
	section.cms-criminal .section-header {
	    padding-left: 0px;
	}
	section.cms-criminal .btn-box .orange-btn:last-child {
	    margin-left: 0px;
	    width: 229px;
	}
	section.cms-criminal .review-box h4 {
		font-size: 24px;
	}


	section.cms-procedure {
		background-size: cover;
	}
	section.cms-procedure .row {
		display: block;
	}
	section.cms-procedure .sidebar {
    	position: relative;
	}
	section.cms-procedure .sidebar .right-box {
    	position: relative;
    	top: 0;
	}
	section.cms-defense .resourse-inner::before {
		left: 0;
	}


	section.cms-served .location {
		width: 70%;
	}
	section.cms-served .area-list ul li {
		font-size: 16px;
	}




	section.cms-resource .section-header h2::after {
		transform: rotate(-12deg);
		bottom: 29px;
	}
	section.cms-resource .resource-row {
	    margin: 0 -15px;
	}
	section.cms-resource .resource-row .col-md-4 {
	    padding: 0 15px;
	}


	section.cms-faq .panel-group .panel-heading + .panel-collapse > .panel-body {
		padding-right: 20px;
	}


	footer.cms-footer .footer-address ul li {
		padding-bottom: 30px;
	}
	footer.cms-footer .footer-nav li a {
		padding: 16px 14px;
	}

	section.inner-dui-defense .row {
		display: block;
	}
	section.inner-dui-defense .sidebar {
	    position: relative;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	}
	section.inner-dui-defense .sidebar .right-box {
	    position: relative;
	    top: 0;
	}


	

}

/* 768 */
@media only screen and (max-width: 1023px) {

	
	.navbar-header {
        float: none;
    }
    .navbar-nav {
    	float: none;
    	margin: 0;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    
    
    header.cms-header .navbar-collapse {
    	border: none;
    	box-shadow: none;
    	padding: 0;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
	.navbar-nav>li {
        float: none;
    }
    header.cms-header .navbar-default .navbar-nav > li > a {
    	padding: 15px;
    }
    .collapse.in{
  		display:block !important;
  		border: none;
	}


	header.cms-header .header-inner {
		display: block;
		padding: 8px 0px 8px;
		width: 100%;
		float: left;
	}
	.navbar-toggle {
		float: right;
		display: block;
		margin-right: 0px;
		margin-bottom: 0;
		margin-top: 10px;
		border-radius: 3px;
		border: none;
		background-color: #fff;
	}
	
	.cms-header .navbar-toggle .icon-bar {
		height: 2px;
		width: 24px;
		background-color: #213346;
		border-radius: 0;
	}
	.cms-header .navbar-toggle:focus, 
	.cms-header .navbar-toggle:hover {
		background-color: #fff;
	}
	header.cms-header .header-right {
		display: none;
	}
	header.cms-header .header-social {
		display: none;
	}
	header.cms-header .navbar-nav > li:first-child a {
	    padding-left: 19px;
	}
	header.cms-header .navbar-nav > li::before {
		display: none;
	}



	section.cms-banner {
		padding: 120px 0 110px;
	}




	section.cms-attorney::before {
		display: none;
	}

	section.cms-practice {
	    padding: 40px 0 200px;
	}
	section.cms-practice:before {
	    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
	}
	section.cms-practice:after {
	    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
	}
	section.cms-practice .section-header {
	    padding: 0 0 40px;
	}
	section.cms-practice .section-header h2::after {
	    bottom: 4px;
	    transform: rotate(-7deg);
	}
	section.cms-practice .practice-inner .col-md-3 {
		width: 50%;
	}
	section.cms-practice .practice-box {
		width: 100%;
		margin: 0 0 30px;
	}
	section.cms-practice .col-md-3:nth-child(2),
	section.cms-practice .col-md-3:nth-child(6),
	section.cms-practice .col-md-3:nth-child(10) {
	    margin-top: 0;
	}
	section.cms-practice .col-md-3:nth-child(3),
	section.cms-practice .col-md-3:nth-child(7),
	section.cms-practice .col-md-3:nth-child(11) {
	    margin-top: 0;
	}
	section.cms-practice .col-md-3:nth-child(4),
	section.cms-practice .col-md-3:nth-child(8),
	section.cms-practice .col-md-3:nth-child(12) {
	    margin-top: 0;
	}



	section.cms-criminal {
		background-size: cover;
		margin: -330px 0 0;
		min-height: inherit;
	}
	section.cms-criminal .slideshow {
		max-width: 100%;
		margin: 0 0 20px;
	}
	section.cms-criminal .btn-box .orange-btn:last-child {
	    margin-left: 40px;
	}



	section.cms-defense .resourse-inner::before {
	    display: none;
	}
	section.cms-defense .resourse-inner {
	    padding: 0 0 40px;
	}
	section.cms-defense .section-header {
	    padding-left: 0;
	    margin-right: 0;
	}



	section.cms-procedure {
	    padding: 120px 0 80px;
	}
	section.cms-procedure .review-inner {
	    padding: 40px 0 0;
	}



	section.cms-served .area-left .left {
		object-fit: cover;
	}
	section.cms-served .area-right .right {
		object-fit: cover;
	}



	section.cms-served .area-list ul {
		flex-wrap: wrap;
	}
	section.cms-served .area-list ul li {
		width: 33.33333%;
	}
	section.cms-served .area-list ul li + li {
	    border-left: 0;
	    padding-left: 0px;
	}


	section.cms-resource {
		padding: 80px 0 0;
	}
	section.cms-resource::before {
	    clip-path: polygon(0 5%, 100% 0%, 100% 90%, 0% 100%);
	}
	section.cms-resource::after {
    	clip-path: polygon(0 5%, 100% 0%, 100% 90%, 0% 100%);
	}
	section.cms-resource .section-header h2::after {
	    transform: rotate(-10deg);
	    bottom: 62px;
	}
	section.cms-resource .resource-box {
		margin-bottom: 80px;
	}
	section.cms-resource .resource-box .resource-img img {
		width: 100%;
		object-fit: cover;
	}
	section.cms-resource .col-md-4:nth-child(2),
	section.cms-resource .col-md-4:nth-child(5),
	section.cms-resource .col-md-4:nth-child(8) {
	    margin-top: 0;
	}
	section.cms-resource .col-md-4:nth-child(3),
	section.cms-resource .col-md-4:nth-child(6),
	section.cms-resource .col-md-4:nth-child(9) {
	    margin-top: 0;
	}


	footer.cms-footer .footer-nav {
		display: flex;
		flex-wrap: wrap;
	}
	footer.cms-footer .footer-nav > li:first-child a {
		padding-left: 14px;
	}
	footer.cms-footer .footer-logo::before {
		display: none;
	}
	footer.cms-footer .footer-address {
		display: flex;
		justify-content: center;
		padding-bottom: 30px;
	}
	footer.cms-footer .footer-logo {
		padding-bottom: 30px;
	}
	footer.cms-footer .footer-contact {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	footer.cms-footer .footer-contact .btn-box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}


	




	

/* ======================================= inner page css ==============================================*/
	section.cms-innerbanner {
		min-height: auto;
	}
	section.inner-defense .resourse-inner {
		padding: 0;
		margin: 0 0 40px;
	}
	section.inner-defense .resourse-inner::before {
		display: none;
	}
	section.inner-defense .section-header {
		padding-right: 0;
		margin: 0;
	}
	section.inner-defense .review-inner {
		padding: 0;
	}
	section.inner-criminal {
	    padding: 0 0 80px;
	}
	section.inner-penalties .conviction-inner {
		padding: 0 0 30px;
	}
	section.inner-penalties .dui-lawyer {
		margin: 0;
	}
	section.inner-stage .section-header {
	    padding-left: 0;
	    margin-right: 0;
	}
	


	


	
	
}

/* 736 */
@media only screen and (max-width: 767px) {
	.section-header h2 {
		font-size: 36px;
		line-height: 1.1;
	}
	section.cms-banner h1 {
		font-size: 48px;
		line-height: 1;
	}
	section.cms-banner h2 {
		font-size: 20px;
	}
	section.cms-banner .btn-box::before {
		display: none;
	}
	section.cms-banner .btn-box .orange-btn:last-child {
		margin: 20px 0 0;
	}


	section.google-review .review-box h4 {
		font-size: 22px;
		margin: 0 0 20px;
	}
	section.google-review .slideshow {
		padding: 20px;
		margin: 0;
	}
	section.google-review .author-name {
		font-size: 16px;
	}
	section.google-review .rating-box .stars img {
	    width: 20px;
	    height: 20px;
	}


	section.cms-attorney::after {
		display: none;
	}
	section.cms-attorney .section-header {
	    margin-right: 0;
	    padding: 0 0 40px;
	}
	section.cms-attorney .team-col {
	    width: 50%;
	    margin: 0 0 20px;
	}


	section.cms-practice {
	    padding: 20px 0 200px;
	}
	section.cms-practice:before {
	    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
	}
	section.cms-practice:after {
	    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
	}
	section.cms-practice .section-header h2::after {
	    bottom: 3px;
	    transform: rotate(-7deg);
	}
	section.cms-practice .practice-box {
		height: 205px;
	}
	section.cms-practice .practice-box h4 {
		font-size: 16px;
	}
	section.cms-practice .practice-box {
		padding: 25px;
	}



	section.cms-criminal .review-box h4 {
		font-size: 22px;
		margin: 0 0 20px;
	}
	section.cms-criminal .slideshow {
		padding: 20px;
		margin: 0;
	}
	section.cms-criminal .author-name {
		font-size: 16px;
	}
	section.cms-criminal .rating-box .stars img {
	    width: 20px;
	    height: 20px;
	}
	section.cms-criminal .section-header {
	    padding-top: 20px;
	}
	section.cms-criminal .btn-box::before {
		display: none;
	}
	section.cms-criminal .btn-box .orange-btn:last-child {
	    margin: 20px 0 0;
	}


	section.cms-defense .section-header h3 {
		font-size: 22px;
		margin: 0 0 30px;
	}



	section.cms-procedure {
	    padding: 60px 0 80px;
	}
	section.cms-procedure .section-header h2 {
	    margin: 0 0 40px;
	}


	section.cms-served .section-header {
		width: 100%;
		height: 7%;
		background-size: 100% 100%;
		left: 0;
		margin: 0;
	}
	section.cms-served .area-left .left {
		height: 360px;
	}
	section.cms-served .location {
		padding: 15px;
		height: 90px;
	}
	section.cms-served .location ul li {
		font-size: 18px;
		line-height: 22px;
	}
	section.cms-served .area-right .right {
		height: 360px;
	}
	section.cms-served .area-right .location {
		padding: 15px;
	}


	section.cms-faq {
	    padding: 75px 0 40px;
	}
	section.cms-faq .faq-inner {
		padding: 0;
	}
	section.cms-faq .panel-title > a {
		font-size: 18px;
		line-height: 22px;
		padding: 15px;
	}
	section.cms-faq .panel-heading a::before {
		right: -10px;
	}


	section.client-review {
		background-size: cover;
		padding: 40px 0 40px;
	}
	section.client-review .review-box h4 {
		font-size: 22px;
		margin: 0 0 20px;
	}
	section.client-review .slideshow {
		padding: 20px 20px 50px;
		margin: 0;
	}
	section.client-review .rating-box .rate {
		font-size: 18px;
	}
	section.client-review .author-name {
		font-size: 16px;
	}
	section.client-review .rating-box .stars img {
	    width: 20px;
	    height: 20px;
	}
	section.client-review button.slick-prev {
		left: 22%;
	}
	section.client-review button.slick-next {
		right: 22%;
	}
	section.client-review .btn-box .orange-btn:last-child {
		margin: 20px 0 0;
	}



	footer.cms-footer .footer-nav > li {
		width: 50%;
	}
	footer.cms-footer .footer-bottom {
    	padding: 40px 0 40px;
	}
	footer.cms-footer .footer-address ul li {
		font-size: 18px;
		line-height: 24px;
	}

/* ======================================= inner page css ==============================================*/
	section.cms-defense .section-header h4 {
	    font-size: 36px;
	    line-height: 36px;
	    margin: 0 0 15px;
	}
	section.inner-criminal {
		margin: 0;
	}
	section.inner-stage .section-header h2 {
	    font-size: 36px;
	    line-height: 36px;
	    margin: 0 0 15px;
	}
	section.inner-stage .section-header h3 {
	    font-size: 36px;
	    margin: 0 0 15px;
	}
	section.inner-penalties .section-header h2 {
		font-size: 36px;
		line-height: 30px;
	}
	section.inner-penalties .dui-lawyer {
		padding: 36px;
		box-shadow: 260px 0 0 0 rgba(0,0,0,0.1);
	}
	section.inner-penalties .dui-lawyer h2 {
		font-size: 36px;
	}
	section.inner-penalties .btn-box .orange-btn:last-child {
		margin: 20px 0 0;
	}
	section.inner-dui-defense {
	    padding: 40px 0 40px;
	}
	section.inner-dui-defense .section-header h2 {
		font-size: 36px;
		margin: 0 0 15px;
	}
	section.inner-dui-defense .section-header {
		padding: 0;
	}
	
	section.inner-dui-defense .review-inner {
		padding: 0;
	}	

}
	

/* 667 */
@media only screen and (max-width: 735px) {
	
}

/* 600 */
@media only screen and (max-width: 666px) {
	

}

/* 568 */
@media only screen and (max-width: 599px) {

}

/* 480 */
@media only screen and (max-width: 567px) {

}

/* 414 */
@media only screen and (max-width: 479px) {

}

/* 375 */
@media only screen and (max-width: 413px) {

}

/* 320 */
@media only screen and (max-width: 374px) {

}



